{% extends '../base/base.html' %}
{% load static %}
{% block head_title %}FAQ's{% endblock %}
{% block css %} <link rel="stylesheet" href="{% static 'pages/css/faq.css' %}"/>{% endblock %}
{% block content %}

	<h1 class="callout">FAQ's</h1>
	<div class="ui container">

		<h2 class="mt2 mb3 tac divider horizontal ui">
			Your Frequently Asked Questions, Answered.
		</h2>
		<div class="ui grid">
			<div class="four wide column">
				<div class="ui vertical fluid tabular menu">
					<a class="item active" data-tab="bugs">Bugs</a>
					<a class="item" data-tab="features">Features</a>
					<a class="item" data-tab="charts">Charts</a>
					<a class="item" data-tab="feed">Activity Feed</a>
					<a class="item" data-tab="contact">Contact</a>
					<a class="item" data-tab="stripe">Stripe / Payments</a>
					<a class="item" data-tab="avatar">Avatar</a>
					<a class="item" data-tab="account">Account</a>
				</div>
			</div>
			<div class="twelve wide stretched column">
				<div class="ui segment">
					<div class="ui tab active pl1 pt1" data-tab="bugs">
						<h3>Bugs</h3>
					</div>
					<div class="ui tab pl1 pt1" data-tab="features">
						<h3>Features</h3>
					</div>
					<div class="ui tab pl1 pt1" data-tab="charts">
						<h3>Charts</h3>
					</div>
					<div class="ui tab pl1 pt1" data-tab="feed">
						<h3>Activity Feed</h3>
					</div>
					<div class="ui tab pl1 pt1" data-tab="contact">
						<h3>Contact</h3>
					</div>
					<div class="ui tab pl1 pt1" data-tab="stripe">
						<h3>Stripe / Payments</h3>
					</div>
					<div class="ui tab pl1 pt1" data-tab="avatar">
						<h3>Avatar</h3>
					</div>
					<div class="ui tab pl1 pt1" data-tab="account">
						<h3>Account</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascript %}
	<script>
        $('.tabular.menu .item').tab();
	</script>
{% endblock %}