{% extends '../base/base.html' %}
{% load static %}
{% block title %}Issue Tracker{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'css/index.css' %}" />{% endblock %}


{% block content %}

	<div class="callout">
		<div class="ui container">
			<h1 class="ui huge header masthead"><span id="h1-first">Issue</span><span id="h1-second">Tracker</span></h1>
			<h2 class="ui header">Submit your <strong>Bugs</strong> and <strong>Feature</strong> Requests.</h2>
			<button class="ui right labeled icon black huge button">
				<i class="right arrow icon"></i>
				Get Started for Free
			</button>
		</div>
	</div>

{% endblock %}