{% extends '../base/base.html' %}
{% load static %}
{% block head_title %}Change Avatar{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'profiles/css/change_avatar.css' %}"/>{% endblock %}
{% block content %}

	<h1 class="callout">Change Avatar</h1>

	<!-- Avatar Choice Gallery-->
	<div class="ui container segment">
		<div id="avatar-gallery">

			<!-- loop over avatar images and create the gallery-->
			{% for avatar in  avatars %}
				<img
					class="{% if avatar in request.session.avatar %}avatar-gallery-item-selected{% endif %} avatar-gallery-item avatar-gallery-item ui"
					src="{% static 'img/avatars/'|add:avatar %}" data-url="{{ avatar }}" data-content="Choose Avatar" alt="{{ avatar }}">
			{% endfor %}
		</div>
	</div>

	<!-- confirm avatar changed modal -->
	<div class="ui tiny modal">
		<div class="header">
			Avatar Changed
		</div>
		<div class="image content">
			<div class="ui small image">
				<img id="avatar-modal" src="{{ request.session.avatar }}" alt="avatar">
			</div>
			<div class="description">
				<div class="ui header">Your Avatar Picture has been Changed!</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascript %}
	<script type="application/javascript" src="{% static 'profiles/js/change_avatar.js' %}"></script>
{% endblock %}