{% extends '../base/base.html' %}
{% load static %}
{% load class_name %}
{% block head_title %}Activity Feed{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'activity_feed/css/feed.css' %}"/>{% endblock %}
{% block content %}

	<h1 class="callout">Activity Feed</h1>
	<div id="activity-feed" class="ui container">

		<!-- Tab Menu -->
		<div class="ui tabular menu">
			<div class="right menu">
				<a class="item active" data-tab="tab-recent-feed">
					Recent Activity Feed
				</a>
				<a class="item" data-tab="tab-profile-feed">
					My Profile Feed
				</a>
			</div>
		</div>


		<!-- other users -->
		<div class="ui tab active" data-tab="tab-recent-feed">
			<div class="ui small feed">
				{% for object in object_list %}
					{% with object|class_name as model %}
						{% if model == 'Ticket' and object.username != request.user.username %}
							<div class="event">
								<div class="label">
									<img src="{{ object.user.profile.avatar }}" alt="avatar image">
								</div>
								<div class="content">
									<div class="summary">
										<span class="user">
											{{ object.user.username|title }}
										</span> Created a new {{ object.issue|title }}
										<div class="date">
											{{ object.created_on|timesince }}
										</div>
									</div>
									<div class="meta">
										<a class="like" href="{% url 'tickets:ticket-detail-view' id=object.id slug=object.slug %}">
											<i class="terminal alternate black icon"></i> <span class="code">#{{ object.id }}</span> {{ object.title }}
										</a>
									</div>
								</div>
							</div>
							<div class="ui divider"></div>
						{% elif  model == 'Comment' and object.username != request.user.username %}
							<div class="event">
								<div class="label">
									<img src="{{ object.user.profile.avatar }}" alt="avatar image">
								</div>
								<div class="content">
									<div class="summary">
										<span class="user">
											{{ object.user.username|title }}
										</span> Made a Comment on a Ticket
										<div class="date">
											{{ object.updated_on|timesince }}
										</div>
									</div>
									<div class="meta">
										<a class="like" href="{% url 'tickets:ticket-detail-view' id=object.ticket.id slug=object.ticket.slug %}">
											<i class="comment alternate blue icon"></i> <span class="code">#{{ object.ticket.id }}</span> {{ object.text }}
										</a>
									</div>
								</div>
							</div>
							<div class="ui divider"></div>
						{% elif model == 'Order' and object.user != request.user %}
							<div class="event">
								<div class="label">
									<img src="{{ object.user.profile.avatar }}" alt="avatar image">
								</div>
								<div class="content">
									<div class="summary">
										<span class="user">
											{{ object.user.username|title }}
										</span> Supported a Ticket
										<div class="date">
											{{ object.date|timesince }}
										</div>
									</div>
									<div class="meta">
										<span class="like">
											<i class="certificate icon orange"></i> Paid for {{ object.votes }} Vote(s), Nice one!
										</span>
									</div>
								</div>
							</div>
							<div class="ui divider"></div>
							{% elif model == 'Profile' and object.user != request.user %}
							<div class="event">
								<div class="label">
									<img src="{{ object.user.profile.avatar }}" alt="avatar image">
								</div>
								<div class="content">
									<div class="summary">
										<span class="user">
											{{ object.user.username|title }}
										</span> Just Joined  - Welcome Them!
										<div class="date">
											{{ object.created_on|timesince }}
										</div>
									</div>
									<div class="meta">
										<span class="like">
											<i class="thumbs up green icon"></i> Thanks for Joining {{ object.user.username|title }}
										</span>
									</div>
								</div>
							</div>
							<div class="ui divider"></div>
						{% endif %}
					{% endwith %}
				{% endfor %}
			</div>
		</div>

		<!-- my profile -->
		<div class="ui tab" data-tab="tab-profile-feed">
			<div class="ui small feed">
				{% for object in object_list %}
					{% with object|class_name as model %}
						{% if model == 'Ticket' and object.username == request.user.username %}
							<div class="event">
									<div class="label">
										<img src="{{ object.user.profile.avatar }}" alt="avatar image">
									</div>
									<div class="content">
										<div class="summary">
											<span class="user">
												{{ object.user.username|title }}
											</span> Created a new {{ object.issue|title }}
											<div class="date">
												{{ object.created_on|timesince }}
											</div>
										</div>
										<div class="meta">
											<a class="like" href="{% url 'tickets:ticket-detail-view' id=object.id slug=object.slug %}">
												<i class="terminal alternate black icon"></i>  <span class="code">#{{ object.id }}</span> {{ object.title|title }}
											</a>
										</div>
									</div>
								</div>
								<div class="ui divider"></div>
						{% elif  model == 'Comment' and object.username == request.user.username %}
							<div class="event">
								<div class="label">
									<img src="{{ object.user.profile.avatar }}" alt="avatar image">
								</div>
								<div class="content">
									<div class="summary">
										<span class="user">
											{{ object.user.username|title }}
										</span> Made a comment on a Ticket
										<div class="date">
											{{ object.updated_on|timesince }}
										</div>
									</div>
									<div class="meta">
										<a class="like" href="{% url 'tickets:ticket-detail-view' id=object.ticket.id slug=object.ticket.slug %}">
											<i class="comment alternate blue icon"></i> <span class="code">#{{ object.ticket.id }}</span> {{ object.text }}
										</a>
									</div>
								</div>
							</div>
							<div class="ui divider"></div>
						{% elif model == 'Order' and object.user == request.user %}
							<div class="event">
								<div class="label">
									<img src="{{ object.user.profile.avatar }}" alt="avatar image">
								</div>
								<div class="content">
									<div class="summary">
										<span class="user">
											{{ object.user.username|title }}
										</span> Supported a Ticket
										<div class="date">
											{{ object.date|timesince }}
										</div>
									</div>
									<div class="meta">
										<span class="like">
											<i class="certificate icon orange"></i> Paid for {{ object.votes }} Vote(s), Nice one!
										</span>
									</div>
								</div>
							</div>
							<div class="ui divider"></div>
							{% elif model == 'Profile' and object.user == request.user %}
							<div class="event">
								<div class="label">
									<img src="{{ object.user.profile.avatar }}" alt="avatar image">
								</div>
								<div class="content">
									<div class="summary">
										<span class="user">
											{{ object.user.username|title }}
										</span> You Just Joined!
										<div class="date">
											{{ object.created_on|timesince }}
										</div>
									</div>
									<div class="meta">
										<span class="like">
											<i class="thumbs up green icon"></i> Thanks for Joining {{ object.user.username|title }}
										</span>
									</div>
								</div>
							</div>
							<div class="ui divider"></div>
						{% endif %}
					{% endwith %}
				{% endfor %}
			</div>
		</div>

		<!-- end of page refresh button -->
		<div class="ui stacked segment mt1">
			<h4 class="ui header">
				<i class="plug icon"></i>
				<span class="content dib">
					<a href="{% url 'activity_feed:activity_feed' %}">Refresh Content ...</a>
				</span>
			</h4>
		</div>
	</div>
{% endblock %}
{% block javascript %}
	<script>
        $('.tabular.menu .item').tab();
	</script>
{% endblock %}