{% extends '../base/base.html' %}
{% load static %}
{% load class_name %}
{% block head_title %}Activity Feed{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'activity_feed/css/feed.css' %}"/>{% endblock %}
{% block content %}

	<h1 class="callout">Activity Feed</h1>
	<div class="ui container">

		<!-- Tab Menu -->
		<div class="ui tabular menu">
			<div class="right menu">
				<a class="item active" data-tab="tab-recent-feed">
					Recent Activity Feed
				</a>
				<a class="item" data-tab="tab-profile-feed">
					My Profile Feed
				</a>
			</div>
		</div>


		<!-- other users -->
		<div class="ui tab active" data-tab="tab-recent-feed">
			{% for object in object_list %}
				{% with object|class_name as model %}
					{% if model == 'Ticket' and object.username != request.user.username %}
						<p>Ticket:  {{ object.username }} - {{ object.updated_on }}</p>
					{% elif  model == 'Comment' and object.username != request.user.username %}
						<p>Comment: {{ object.username }} - {{ object.updated_on }}</p>
					{% elif model == 'Profile' and object.user != request.user %}
						<p>Profile: {{ object.user.username }} - {{ object.created_on }}</p>
					{% elif model == 'Order' and object.user != request.user %}
						<p>Order: {{ object.user.username }} - {{ object.date }}</p>
					{% endif %}
				{% endwith %}
			{% endfor %}
		</div>

		<!-- my profile -->
		<div class="ui tab" data-tab="tab-profile-feed">
			{% for object in object_list %}
				{% with object|class_name as model %}
					{% if model == 'Ticket' and object.username == request.user.username %}
						<p>Ticket:  {{ object.username }} - {{ object.updated_on }}</p>
					{% elif  model == 'Comment' and object.username == request.user.username %}
						<p>Comment: {{ object.username }} - {{ object.updated_on }}</p>
					{% elif model == 'Profile' and object.user == request.user %}
						<p>Profile: {{ object.user.username }} - {{ object.created_on }}</p>
					{% elif model == 'Order' and object.user == request.user %}
						<p>Order: {{ object.user.username }} - {{ object.date }}</p>
					{% endif %}
				{% endwith %}
			{% endfor %}
		</div>
	</div>


{% endblock %}
{% block javascript %}
	<script>
        $('.tabular.menu .item').tab();
	</script>
{% endblock %}