<div id="footer-container" class="ui inverted vertical footer segment">
	<div class="ui container">
		<div class="ui stackable inverted divided equal height stackable grid">

			<!-- quick links -->
			<div class="three wide column">
				<h4 class="ui inverted header">Quick Links</h4>
				<div class="ui inverted link list">
					<a href="{% url 'pages:index' %}" class="item">Home</a>
					<a href="{% url 'pages:faq' %}" class="item">FAQ's</a>
					<a href="{% url 'contact:contact' %}" class="item">Contact Us</a>
					{% if not user.is_authenticated %}
						<a href="{% url 'account_login' %}" class="item">Login</a>
					{% else %}
						<a href="{% url 'account_logout' %}" class="item">Logout</a>
					{% endif %}
				</div>
			</div>
			<div class="three wide column">
				<h4 class="ui inverted header">Services</h4>
				<div class="ui inverted link list">
					<a href="{% url 'tickets:bugs' %}" class="item">Squash those Bugs</a>
					<a href="{% url 'tickets:features' %}" class="item">Get Features Realised</a>
					<a href="{% url 'charts:charts' %}" class="item">Current Charts Lists</a>
					<a href="https://stripe.com/ie" rel="noopener" target="_blank" class="item">Secure Stripe Payments</a>
				</div>
			</div>

			<!-- social links -->
			<div class="seven wide column">
				<h4 class="ui inverted header">
					<a class="ui item tcg40 :tcg10" href="{% url 'pages:index' %}">
						<span id="logo-title-first" >Issue</span>
						<span id="logo-title-last">Tracker</span>
					</a>
				</h4>
				<p>We're available on Social Media too, get it touch and see what we're up to!</p>
				<a href="https://github.com/nazarja" rel="noopener" target="_blank"  class="ui github grey small button mt1">
				  <i class="github icon"></i>
				  Github
				</a>
				<a href="https://www.seanmurphy.dev" rel="noopener" target="_blank"  class="ui green small button mt1">
					<i class="code icon"></i>
					seanmurphy.dev
				</a>
				<a href="https://www.linkedin.com/in/sean-murphy-dev" rel="noopener" target="_blank" class="ui linkedin small button mt1">
					<i class="linkedin icon"></i>
					LinkedIn
				</a>
			</div>
		</div>

		<!-- footer credits -->
		<div class="mt4">
			<p>Made with <i class="code icon"></i> and <i class="coffee icon"></i> by  <a href="https://seanmurphy.dev" rel="noopener" target="_blank">Sean_Murphy</a>  &copy; 2019</p>
		</div>
	</div>
</div>
