{% load static  %}
{% load socialaccount %}
<nav>
	<div class="ui container">

		<!-- mobile nav-bar-->
		<div id="nav-bar-small" class="ui secondary inverted menu">
			<a class="toc item">
				<i class="sidebar icon"></i>
			</a>
			<a id="logo-title" class="ui item" href="{% url 'pages:index' %}">
				<span id="logo-title-first" >Issue</span>
				<span id="logo-title-last">Tracker</span>
			</a>
			<div class="right menu">
				{% if not user.is_authenticated %}
					<a class="item header" href="{% url 'account_login' %}">Login</a>
					<a class="item header" href="{% url 'account_signup' %}">Sign up</a>
				{% else %}
					<a class="item cart-popup" href="#" data-content="View Cart">
						<i class="shop icon"></i>
						<div id="cart-feed-count" class="ui label green">0</div>
					</a>
					<div id="username-small" class="item">
						<span class="avatar-label ui black label">
							<img id="avatar-1" class="avatar-label-image avatar image" src="{{ request.session.avatar }}" alt="avatar">
							Hi, {{ user.username|title }}
						</span>
					</div>
					<a id="logout-small" class="item header" href="{% url 'account_logout' %}">Logout</a>
				{% endif %}
			</div>
		</div>

		<!-- desktop nav-bar -->
		<div id="nav-bar-large" class="ui secondary inverted menu">
			<div class="item">
				<a href="{% url 'pages:index' %}">
					<img height="50" width="50" src="{% static 'img/logos/logo.png' %}" alt="bug logo">
				</a>
			</div>
			{% if not user.is_authenticated  %}
				<a class="ui item" href="{% url 'pages:index' %}">
					<span id="logo-title-first" >Issue</span>
					<span id="logo-title-last">Tracker</span>
				</a>
				{% if request.path == '/' %}
					<a class="item" href="#pricing">Pricing</a>
					<a class="item" href="#how-it-works">How it Works?</a>
				{% endif %}
			{% else %}
				<a class="item" href="{% url 'tickets:bugs' %}">Bugs</a>
				<a class="item" href="{% url 'tickets:features' %}">Features</a>
				<a class="item" href="{% url 'charts:charts' %}">Charts</a>
				<a class="item" href="{% url 'activity_feed:activity_feed' %}">Activity Feed</a>
			{% endif %}

			<div class="right menu">
				{% if user.is_authenticated %}
					<a class="item cart-popup" href="#" data-content="View Cart">
						<i class="shop icon"></i>
						<div id="cart-feed-count" class="ui label green">0</div>
					</a>
				{% endif %}
				<div class="ui dropdown item">
					Help &amp; Support
					<i class="dropdown icon"></i>
					<div class="menu inverted">
						<a class="item" href="{% url 'pages:faq' %}">FAQ's</a>
						<a class="item" href="{% url 'contact:contact' %}">Contact</a>
						{% if user.is_authenticated  %}
							<a class="item" href="{% url 'account_set_password' %}">Change Password</a>
							<a class="item" href="{% url 'profiles:change_avatar' %}">Change Avatar Picture</a>
						{% endif %}
					</div>
				</div>
				{% if user.is_authenticated %}
					<div id="username-large" class="item">
						<span class="avatar-label ui black label">
							<img id="avatar-2" class="avatar-label-image  avatar image" src="{{ request.session.avatar }}" alt="avatar">
							Hi, {{ user.username|title }}
						</span>
					</div>

					<a class="item header" href="{% url 'account_logout' %}">Logout</a>
				{% else %}
					<div class="ui buttons">
						<div class="nav-bar-button">
							<a class="ui standard inverted button" href="{% url 'account_login' %}">Login</a>
						</div>
						<div class="item">
							<div id="nav-bar-or" class="or"></div>
						</div>
						<div class="nav-bar-button">
							<a id="nav-bar-sign-up-button" class="ui green inverted button" href="{% url 'account_signup' %}">Sign up</a>
						</div>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
</nav>