{% extends '../base/base.html' %}
{% load static %}
{% block head_title %}Contact Us{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'contact/css/contact.css' %}"/>{% endblock %}

{% block content %}

	<h1 class="callout">Contact Form</h1>
	<div class="ui container segment all-forms-container">
		<h2>Got something to ask us? Let us know below...</h2>
		<form id="contact-form" class="all-forms" method="POST" action="{% url 'contact:contact' %}">
			{% csrf_token %}
			{{ form.as_p }}
			<input class="ui button submit green" type="submit" value="Send Form">
		</form>
	</div>
	<div id="form-response-modal" class="ui tiny modal">
		<div class="header">
			Form Sent
		</div>
		<div class="content">
			<div class="description bold">
				<div id="form-response-text"></div>
			</div>
		</div>
	</div>
{% endblock %}

{% block csrf_cookie %}
	<script type="application/javascript" src="{% static 'js/csrf-token-cookie.js' %}"></script>
{% endblock %}
{% block javascript %}
	<script type="application/javascript" src="{% static 'contact/js/contact.js' %}"></script>
{% endblock %}