
/*
=================================================
    CALLOUT SEGMENT
=================================================
*/


.callout  {
    position: relative;
    min-height: 70vh;
    margin-bottom: 0;
    padding: 30px 5px 30px 5px;
    background:  linear-gradient(90deg, rgba(81,191,144,.95) 50%, rgba(65,162,200,.95) 100%), url('/static/img/images/callout.jpg')  no-repeat center;
    background-size: cover;
    text-align: left;
}

.callout {
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.callout h1 {
    font-family: 'Fira Sans', sans-serif !important;
    font-weight: bold;
}

.callout h2 {
    color: white !important;
    font-weight: normal;
}

.callout h1 span {
    font-size: 5.5vmax;
    font-weight: bold;
}

.callout #h1-second  {
    color: white !important;
    font-style: italic;
    font-weight: normal;
    opacity: 0.8;
}

.callout #sign-up-btn {
    margin: 40px auto !important;
}


/*
=================================================
    STATISTICS SEGMENT
=================================================
*/


#statistics {
    margin-bottom: 100px;
    padding: 50px 10px;
    text-align: center;
    color: white;
    background-color: var(--black);
}


/*
=================================================
    PRICING SEGMENT
=================================================
*/


#pricing {
    min-height: 20vh;
}

#pricing .euro {
    display: inline-block;
    position: relative;
    top: -17px;
    padding: 3px;
    vertical-align: top;
}


