<div id="ticket" class="ui card">
	<div class="content">
		<div class="left floated">
			{% include 'tickets/partials/ticket-item-status.html' %}
			<span class="ticket-category category pl1 tcg70">{{ issue|title }} </span>
		</div>
		<div id="author-container" class="author right floated">
			<span id="author-username">{{ object.user.username|title }}</span>
			<img class="ui avatar image" src="{{ object.user.profile.avatar }}" height="40" width="40" alt="avatar">
		</div>
		<div class="description pt1">
			<a class="header left floated ticket-title" href="{% url 'tickets:ticket-detail-view' id=object.id slug=object.slug %}">{{ object.title|title }}</a>
			<a class="ticket-view-details-button category pl1 pr1 right floated ui button mini" href="{% url 'tickets:ticket-detail-view' id=object.id slug=object.slug %}">Vote : View Details</a>
		</div>
	</div>
	<div class="extra content">
		<div id="extra-content-left" class="left floated">
			<div class="meta">
				<span class="code tcb"> #{{ object.id }}</span>
				<span class="pl1">last updated: </span>
				<span class="time time-since">{{ object.created_on|date:"r" }}</span>
			</div>
		</div>
		<div id="extra-content-right" class="right floated">
			<span class="pr1"><i class="thumbs up outline icon blue"></i> {{ object.votes }} votes</span>
			{% if object.issue == 'feature' %}
				<span class="pr1"><i class="money bill alternate outline icon green"></i> &euro;{{ object.earned }} earned</span>
			{% endif %}
		</div>
	</div>
</div>