{% extends "account/base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Sign Out" %}{% endblock %}
{% block content %}

	<h1 id="callout">{% trans "Sign Out" %}</h1>
	<div class="ui container tac middle aligned mt2">
		<div class="ui placeholder segment pv4">
			<p class="header tac ft3">Wait. Dont leave yet, you can always go back ...</p>
			<button class="go-back-history-btn ui button green mb4">Back to Safety</button>

			<div class="tac">
				<div class="ui horizontal divider">
				Or
			  </div>
			</div>

			<p class="header tac ft3">{% trans 'We miss you already, do you really want to sign out?' %}</p>
			<form method="post" action="{% url 'account_logout' %}">
				{% csrf_token %}
				{% if redirect_field_value %}
					<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
				{% endif %}
				<button class="ui button red" type="submit">{% trans 'Sign Out' %}</button>
			</form>
		</div>
	</div>
{% endblock %}