{% extends "account/base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block content %}

    <h1 id="callout">{% trans "Change Password" %}</h1>
	<div id="form-smaller" class="ui container tac middle aligned mt2">
		<div class="ui placeholder segment pv4">
			<div class="mb2">
				<span id="logo-title-first" class="ft8">Issue</span>
				<span id="logo-title-last" class="ft8">Tracker</span>
			</div>
			<form method="POST" action="{% url 'account_change_password' %}" class="password_change">
				{% csrf_token %}
				{{ form.as_p }}
				<button class="ui button submit green" type="submit" name="action">{% trans "Change Password" %}</button>
			</form>
		</div>
	</div>

	{% if messages %}
		{% for message in messages %}
			{% if message.message == 'Your password has successfully been changed!' %}
				<!-- confirm password changed -->
				<div id="password-change-modal" class="ui tiny modal">
					<div class="header">
						Password Changed
					</div>
					<div class="content">
						<div class="description bold">
							<div>{{ message.message }}</div>
						</div>
					</div>
				</div>
			{% endif %}
		{% endfor %}
	{% endif %}
{% endblock %}


{% block javascript %}
	<script>
        if (document.querySelector('.ui.tiny.modal')) {
            $('.ui.tiny.modal')
                .modal({
                    dimmerSettings: {opacity: .3},
                })
                .modal('show')
                .delay(2000)
                .queue(function () {
                    $(this).modal('hide').dequeue();
                });
        }
	</script>
{% endblock %}

