{% extends "account/base.html" %}
{% load i18n %}
{% load account %}
{% block head_title %}{% trans "Changed Password" %}{% endblock %}
{% block content %}

	<h1 class="callout">{% trans "Changed Password" %}</h1>
    <div class="mt6 ui container tac middle aligned mt2">
		{% if user.is_authenticated %}
			{% include "account/snippets/already_logged_in.html" %}
		{% endif %}
		<p class="header tac ft4">You password has been changed. You can now login.</p>
		<a class="ui button green mb4" href="{% url 'account_login' %}">Go to Login</a>
	</div>
{% endblock %}
