{% extends "account/base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block content %}

	<h1 id="callout">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
	<div id="form-smaller" class="ui container tac middle aligned mt2">
		<div class="ui placeholder segment pv4">
			<div class="mb2">
				<span id="logo-title-first" class="ft8">Issue</span>
				<span id="logo-title-last" class="ft8">Tracker</span>
			</div>
			{% if token_fail %}
				{% url 'account_reset_password' as passwd_reset_url %}
				<p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
			{% else %}
				{% if form %}
					<form class="password_reset_key" method="POST" action="{{ action_url }}">
						{% csrf_token %}
						{{ form.as_p }}
						<input class="ui button green submit" type="submit" name="action" value="{% trans 'change password' %}"/>
					</form>
				{% else %}
					<p>{% trans 'Your password is now changed.' %}</p>
				{% endif %}
			{% endif %}
		</div>
	</div>
{% endblock %}
