{% extends '../base/base.html' %}
{% load static %}
{% block head_title %}Charts{% endblock %}
{% block content %}

	<h1 class="callout">Charts</h1>
	<div id="charts" class="ui container">

		<!-- divider -->
		<h4 class="ui horizontal divider header mt3 mb5 ph3">
			<i class="balance scale icon"></i>
			Totals by Ticket Type
		</h4>

		<!-- first row of charts -->
		<div class="ui grid stackable charts-grid">
			<div class="three column row">
				<div class="column pa2 smaller-width">
					<p>Total Votes for All Bugs and Features</p>
					<canvas id="highestVotes" width="400" height="400"></canvas>
				</div>
				<div class="column pa2 smaller-width">
					<p>Total Number of Bugs and Features</p>
					<canvas id="numOfTickets" width="400" height="400"></canvas>
				</div>
				<div class="column pa2 smaller-width">
					<p>Total Status of All Bugs and Features</p>
					<canvas id="ticketStatus" width="400" height="400"></canvas>
				</div>
			</div>
		</div>

		<!-- divider -->
		<h4 class="ui horizontal divider header mt3 mb5 ph3">
			<i class="chart line icon"></i>
			Highest Tickets by Earned and Votes
		</h4>

		<!-- second row of charts -->
		<div class="ui grid stackable charts-grid">
			<div class="three column row">
				<div class="column pa2 smaller-width">
					<p>Highest Voted Bugs</p>
					<canvas id="highestBugs" width="400" height="400"></canvas>
				</div>
				<div class="column pa2 smaller-width">
					<p>Highest Voted Features</p>
					<canvas id="highestFeatures" width="400" height="400"></canvas>
				</div>
				<div class="column pa2 smaller-width">
					<p>Highest Currently Worked On Bugs and Features</p>
					<canvas id="highestStatus" width="400" height="400"></canvas>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascript %}
	<!-- Using Chart.js -->
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
	<script src="{% static 'charts/js/charts.js' %}"></script>
{% endblock %}