{% extends '../base/base.html' %}
{% load static %}
{% block head_title %}Charts{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'charts/css/charts.css' %}"/>{% endblock %}
{% block content %}

	<h1 class="callout">Charts</h1>
	<div class="ui container">

		<h4 class="ui horizontal divider header mt3 mb5 ph3">
			<i class="balance scale icon"></i>
			Totals by Ticket Type
		</h4>

		<div id="charts-grid" class="ui grid stackable">
			<div class="three column row">
				<div class="column pa2">
					<p>Total Votes for All Bugs and Features</p>
					<canvas id="highestVotes" width="400" height="400"></canvas>
				</div>
				<div class="column pa2">
					<p>Total Number of Bugs and Features</p>
					<canvas id="numOfTickets" width="400" height="400"></canvas>
				</div>
				<div class="column pa2">
					<p>Total Status of All Bugs and Features</p>
					<canvas id="ticketStatus" width="400" height="400"></canvas>
				</div>
			</div>
		</div>

		<h4 class="ui horizontal divider header mt3 mb5 ph3">
			<i class="chart line icon"></i>
			Highest Tickets by Earned and Votes
		</h4>

		<div id="charts-grid" class="ui grid stackable">
			<div class="three column row">
				<div class="column pa2">
					<p>Highest Voted Bugs</p>
					<canvas id="highestBugs" width="400" height="400"></canvas>
				</div>
				<div class="column pa2">
					<p>Highest Voted Features</p>
					<canvas id="highestFeatures" width="400" height="400"></canvas>
				</div>
				<div class="column pa2">
					<p>Highest Currently Worked On Bugs and Features</p>
					<canvas id="highestStatus" width="400" height="400"></canvas>
				</div>
			</div>
		</div>

	</div>
{% endblock %}
{% block javascript %}
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
	<script src="{% static 'charts/js/charts.js' %}"></script>
{% endblock %}