{% extends '../base/base.html' %}
{% load static %}
{% block head_title %}Checkout{% endblock %}
{% block css %}
	<link rel="stylesheet" href="{% static 'css/forms.css' %}"/>
	<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}"/>
{% endblock %}
{% block content %}

	<h1 class="callout">Checkout</h1>
	<div id="checkout" class="ui container">
		<div id="form-small" class="ui padded">

			<!-- page header - steps -->
			<div id="payment-steps" class="ui steps mv3">
				<div class="step">
					<i class="shopping basket icon red"></i>
					<div class="content">
						<div class="title">Basket</div>
						<div class="description">Review your items</div>
					</div>
				</div>
				<div class="step">
					<i class="payment icon yellow"></i>
					<div class="content">
						<div class="title">Billing</div>
						<div class="description">Enter billing information</div>
					</div>
				</div>
				<div class="step">
					<i class="info icon green"></i>
					<div class="content">
						<div class="title">Confirm Order</div>
					</div>
				</div>
			</div>

			<!-- cart - review items -->
			<div id="payment-items" class="ui relaxed divided list mv3">
				<h3>Your Items</h3>

				<!-- cart items list -->
				{% for item in cart_items %}
					<div class="item">
						<i class="large ticket alternate middle aligned icon"></i>
						<div class="content">
							<a class="header">{{ item.ticket.title }}</a>
							<div class="description">#{{ item.id }} | &euro;{{ item.total }}.00  | {{ item.votes }} Votes</div>
						</div>
					</div>
				{% endfor %}

				<!-- review - total amount and votes -->
				<div id="payment-items-totals" class="mv1 fwsemibold">
					<p class="pb1 pr1 dib">Total Cost: &euro;{{ cart_total }}.00</p>
					<p class="pb1 pr1 dib">Total Items:  {{ cart_count }}</p>
					<p class="pb1 pr1 dib">Total Votes: {{ cart_votes }}</p>
				</div>
			</div>

			<!-- payment - divider -->
			<h4 class="ui horizontal divider header mt3 mb5 ph3">
				<i class="credit card icon blue"></i>
				Payment Details
			</h4>

			<!-- stripe payment form -->
			<div class="ui segment very padded">
				<form id="payment-form" method="POST" action="{% url 'checkout:checkout-charge-view' %}" data-token="{{ publishable }}">

					<!-- stripe element will be inserted in this div -->
					<div class="form-row">
						<label for="card-element">Credit or debit card</label>
						<div id="card-element"></div>
						<div id="card-errors" role="alert"></div>
					</div>

					<!-- payment submit button -->
					{% csrf_token %}
					<button type="submit" class="ui button primary mt2">PAY NOW WITH STRIPE</button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascript %}
	<script src="https://js.stripe.com/v3/"></script>
	<script type="text/javascript" src="{% static 'checkout/js/stripe.js' %}"></script>
{% endblock %}