
/*
=================================================
    Forms - All-Auth and Semantic
=================================================
*/


.all-forms-container {
    padding: 5% !important;
}

.all-auth-form input,
.all-forms input, .all-forms textarea, .all-forms select, .all-forms option {
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    margin: 0;
    outline: 0;
    -webkit-appearance: none;
    tap-highlight-color: rgba(255,255,255,0);
    line-height: 1.21428571em;
    padding: .67857143em 1em;
    font-size: 1em;
    background: #fff;
    border: 1px solid rgba(34,36,38,.15);
    color: rgba(0,0,0,.87);
    border-radius: .28571429rem;
    -webkit-box-shadow: 0 0 0 0 transparent inset;
    box-shadow: 0 0 0 0 transparent inset;
    -webkit-transition: color .1s ease,border-color .1s ease;
    transition: color .1s ease,border-color .1s ease;
    position: relative;
    width: 90%;
}

.all-auth-form input:focus,
.all-forms input:focus, .all-forms textarea:focus {
    border-color: #4ac6fd;
}

.all-auth-form label,
.all-forms label, .all-forms textarea label  {
    display: block;
    margin: 0 0 .28571429rem 0;
    color: rgba(0,0,0,.87);
    font-size: .92857143em;
    text-align: left;
    padding-left: 5%;
    position: relative;
}

.all-auth-form input[type="submit"],
.all-auth-form button[type="submit"],
.all-forms input[type="submit"] {
    margin-top: 30px;
    max-width: 160px;
    margin-bottom: 30px;
}


.all-forms textarea {
    width: 90%;
}

.errorlist {
    text-align: left;
    font-size: 0.9em;
    position: relative;
    vertical-align: baseline;
    margin: 0 .14285714em;
    background-color: #e8e8e8;
    background-image: none;
    padding: .5833em .833em;
    color: rgba(0, 0, 0, .6);
    text-transform: none;
    font-weight: 700;
    border: 0 solid transparent;
    border-radius: .28571429rem;
    -webkit-transition: background .1s ease;
    transition: background .1s ease;
    margin-top: 1em;
    margin-bottom: 1.2em;
    max-width: 90%;
    margin-left: 5%;
    line-height: 1.5em;
}

/*  assets / modals */
#form-small {
    max-width: 700px !important;
    margin: auto;
}

#horizontal-divider {
    display: none;
}

#password-change-modal {
    text-align: center;
}

#password-change-modal .header {
    background-color: var(--green);
    color: var(--white);
}


/*
=================================================
    Forms - Media Queries
=================================================
*/


@media screen and (max-width: 768px) {
    #vertical-divider {
        display: none;
    }

    #horizontal-divider {
        display: block;
        width: 100%;
        position: relative;
    }
}
