
/*
=======================================
    Tickets Styles
=======================================
*/


#ticket-empty-container .ui.placeholder  {
    display: none;
    animation: none !important;
}

#ticket-empty-container h2 {
    background: white !important;
}

#ticket-list-description {
    margin-top: 5px;
    margin-bottom: 3px;
    max-width: 70%;
    min-height: 20px;
}

#ticket #title {
    text-transform: capitalize;
}

#ticket img.ui.image {
    display: inline-block !important;
}

#ticket .segment {
    background-color: #efefef;
    padding: 6px;
}

#ticket .font-light {
    font-family: 'Work Sans', sans-serif;
}

#ticket .float-right {
    margin-top: -20px;
}

.ticket-label {
    margin-top: 7px !important;
    margin-right: 15px !important;
    float: right;
}

.all-forms button {
    margin: 30px 10px 20px !important
}

.ui.placeholder .header .line:after {
    width: 0;
}