/*
=======================================
    Tickets Container
=======================================
*/


#ticket {
    background-color: #efefef;
}

#ticket-search-container {
    max-height: 36px;
}


/*
=======================================
    Tickets Menu
=======================================
*/

#icon-bug {
    left: 25px;
}

#ticket-bottom-segment {
    padding: 42px !important;
}

.responsive-padding  {
    padding-right: 42px  !important;
}


/*
=======================================
    Ticket Items
=======================================
*/


#ticket-create-new-btn {
    min-width: 170px;
}

#ticket.ui.card {
    width: 100% !important;
}

#ticket .ui.avatar.image {
    width: 40px !important;
    height: 40px !important;
    margin-right: 10px;
    margin-top: -5px;
    margin-left: 5px;
}

#right-floated {
    min-width: 150px;
}

/*
=======================================
    Tickets Empty Containers
=======================================
*/


#ticket-empty-container h2 {
    background: white !important;
}

#ticket-empty-container .ui.placeholder  {
    display: none;
    animation: none !important;
}



/*
=======================================
    Ticket Details
=======================================
*/

#ticket-details > div {
    min-height: 120px;
}

#author-username {
    margin: 10px;
}

#author-container-details {
    margin-top: 10px;
}

#author-container-details img.ui.avatar.image {
    width: 80px !important;
    height: 80px !important;
    margin-right: 10px;
    margin-top: -5px;
}



/*
=======================================
    Ticket Media Queries
=======================================
*/


@media screen and (max-width: 800px) {
    #ticket-bottom-segment,
    .responsive-padding {
        padding: 16px !important;
    }

    .responsive-padding  {
        padding: 16px !important;
        display: block !important;
    }

    .item.responsive-padding > div {
        margin: 0 5px 0 0 !important;
        display: inline-block;
        float: right;
    }

    #icon-bug {
        display: none;
    }

    #ticket .description {
        padding-left: 2px !important;
    }

    #ticket #author-container {
        display: block;
        float: none;
        margin-top: 35px;
    }

    #ticket #author-username {
        display: block;
    }
}

@media screen and (max-width: 600px) {

    /*  bugs / features */
    #extra-content-left,
    #extra-content-right {
        display: block;
        float: none;
    }

    #extra-content-left {
        margin-bottom: 5px;
    }

    /* details / preview */
    #author-username {
        margin: 10px;
    }

    #author-container-details {
        margin-top: 10px;
        float: none;
        display: block;
    }

    #author-container-details img.ui.avatar.image {
        width: 40px !important;
        height: 40px !important;
        margin-right: 10px;
        margin-top: -5px;
    }

    #ticket-details #extra-content-right,
    #ticket-details #extra-content-left {
        float: none !important;
        display: block;
    }
}

@media screen and (max-width: 400px) {

    .item.responsive-padding > div {
        width: 100%;
        display: block !important;
    }

    #ticket-create-new-btn a {
        width: 100%;
        margin-top: 10px;
    }
}

