{% extends '../base/base.html' %}
{% load static %}
{% block head_title %}{{ issue|title }}{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'tickets/css/tickets.css' %}"/>{% endblock %}
{% block content %}
	<h1 class="callout">{{ issue|title }}</h1>
	<div class="ui container">
		<h2>{{ object.title }}</h2>

		{% if request.user == object.user %}
			<a href="{% url 'tickets:ticket-update-view' id=object.id slug=object.slug %}" class="ui button submit green">Edit Issue</a>
			<button id="ticket-delete-btn" class="ui button submit red">Delete Issue</button>
		{% endif %}
	</div>
	{% include 'tickets/partials/ticket-delete-item.html' %}
	{% include 'tickets/partials/ticket-error-occurred.html' %}
{% endblock %}
{% block javascript %}
	<script src="{%  static 'tickets/js/ticket-api.js' %}"></script>
{% endblock %}