{% extends '../base/base.html' %}
{% load static %}
{% block head_title %}{{ issue|title }}{% endblock %}
{% block css %}
	<link rel="stylesheet" href="{% static 'css/forms.css' %}"/>
	<link rel="stylesheet" href="{% static 'tickets/css/tickets.css' %}"/>
{% endblock %}
{% block content %}
	<h1 class="callout">{{ issue|title }}</h1>
	<div class="ui container">
		<form class="all-forms" method="POST">
			{% csrf_token %}
			{{ form.as_p }}
			<button class="ui button submit green">Submit Form</button>
		</form>

		{% if request.user == object.user and  'update' in request.path %}
			<button id="ticket-delete-btn" class="ui button submit red">Delete Issue</button>
		{% endif %}
	</div>
	{% include 'tickets/partials/ticket-delete-item.html' %}
{% endblock %}
{% block javascript %}
	<script src="{%  static 'tickets/js/ticket-api.js' %}"></script>
{% endblock %}