{% extends '../base/base.html' %}
{% load static %}
{% block head_title %}{{ issue|title }}s{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'tickets/css/tickets.css' %}"/>{% endblock %}
{% block content %}
	<h1 class="callout">{{ issue|title }}s</h1>
	<div class="ui container">
		<a href="{% url 'tickets:ticket-create-view' %}" class="ui button green mb2">Create New {{ issue|title }}</a>
		<div></div>
		<label for ="order_by">Order By:</label>
		<select id="order_by">
			<option selected value="created_on">Date Created</option>
			<option selected value="updated_on">Date Updated</option>
			<option selected value="most_voted">Most Voted</option>
			{% if 'feature' in request.path %}
				<option selected value="highest_paid">Highest Paid</option>
			{% endif %}
		</select>

		<ul>
			{% for object in object_list %}
				{% include 'tickets/partials/ticket-list-item.html' %}
			{% empty %}
				<li>No {{ issue|title }}'s yet.</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}