{% extends '../base/base.html' %}
{% load static %}
{% block head_title %}{{ issue|title }}s{% endblock %}
{% block css %}
	<link rel="stylesheet" href="{% static 'tickets/css/tickets.css' %}"/>{% endblock %}
{% block content %}

	<h1 class="callout">{{ issue|title }}s</h1>

	<div class="ui container">
		<a href="{% url 'tickets:ticket-create-view' %}" class="ui button green mb2">Create New {{ issue|title }}</a>

		<div></div>

		<label for="ticket-order-by">Order By:</label>
		<select id="ticket-order-by" data-issue="{{ issue }}">
			<option selected value="-updated_on">Recently Updated</option>
			<option value="created_on">Date Created</option>
			<option value="-votes">Most Voted</option>
			{% if 'feature' in request.path %}
				<option value="-earned">Highest Paid</option>
			{% endif %}
		</select>

		<div id="ticket-list-container">
			{% for object in object_list %}
				{% include 'tickets/partials/ticket-list-item.html' %}
			{% empty %}
				<li>No {{ issue|title }}'s yet.</li>
			{% endfor %}
		</div>
	</div>

{% endblock %}
{% block javascript %}
	<script src="{% static 'tickets/js/ticket-api.js' %}"></script>
{% endblock %}